#first {
    background-color: rgb(20, 148, 148);
    font-size: 70px;
    text-align: center;
}
.mainDiv {
    background-color: rgb(37, 134, 134);
}

#font {
    font-family: "Trirong", serif;
    font-weight: bold;
}
a:link, a:visited {
    background-color: #665553;
    color: rgb(255, 254, 254);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    float: left;
  }
  
  a:hover, a:active {
    background-color: rgb(184, 175, 175);
    
  }
  td ,th {
      text-align: center;
      padding: 20px;
      background-color: #00A4BD;
  }
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow:#00A4BD;
}
.dropdown:hover .dropdown-content{
display: block;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 20px;
    text-decoration: none;
    }
    .dropdown-content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
        }
#fstyle{
    font-size: large;
}